hr {
    margin-left: 5px;
    margin-right: 4px;
}

body {
    margin: 0px;
    background-color: rgb(82, 115, 135);
    background-image: url(images/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.navbar ul {
    border-style: double;
    border-color: darkkhaki;
    list-style-type: none;
    background-color: rgb(82, 115, 135);
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar a:hover {
    background-color: rgb(70, 130, 204);
    font-size: 18px;

}

.navbar li {
    float: left;
}