hr {
    margin-left: 5px;
    margin-right: 4px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    a:link {
        color: rgb(2, 28, 255);
    }

    a:visited {
        color: rgb(2, 28, 255);
    }

    a:hover {
        color: rgb(0, 255, 26);
    }

    /* selected link */
    a:active {
        color: yellow;
    }
}

.navbar ul {
    border-style: ridge;
    border-color: rgb(86, 130, 135);
    list-style-type: none;
    background-color: rgb(167, 194, 210);
    padding: 0px;
    margin: 5px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar a:hover {
    background-color: rgb(70, 130, 204);
    font-size: 17px;


}

.navbar li {
    float: left;
}
